---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { getCollection } from 'astro:content';
import '../styles/global.css';

export interface Props {
	title: string;
	eventSlug?: string; // Accept an optional event slug
}

const { title, eventSlug: pageEventSlug } = Astro.props;

// Determine latest event
const events = await getCollection('events');
const latestEvent = [...events].sort((a, b) => new Date(b.data.date).getTime() - new Date(a.data.date).getTime())[0];
const latestEventSlug = latestEvent.id.replace('.md', '');

let eventSlugForHeader = pageEventSlug || latestEventSlug;

const isPastEvent = pageEventSlug && pageEventSlug !== latestEventSlug;

// Check if the event for the header has talks
const allTalks = await getCollection('talks');
const hasTalksForEvent = allTalks.some(talk => talk.data.eventSlug === eventSlugForHeader);

// Check if there's a CFP for the current event
const allCfps = await getCollection('cfp');
const hasCfp = allCfps.some(cfp => cfp.id.replace('.md', '') === eventSlugForHeader);

// Check if there's a registration link
const currentEvent = events.find(e => e.id.replace('.md', '') === eventSlugForHeader);
const hasRegistration = currentEvent?.data.register ? true : false;
---

<!doctype html>
<html lang="en" class="dark">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/png" href="/bsides_logo_square.png" />
		<title>BSides Roanoke - {title}</title>
	</head>
	<body class="bg-gray-900 text-gray-100 font-sans">
		<Header title={title} eventSlug={eventSlugForHeader} hasTalks={hasTalksForEvent} isPastEvent={isPastEvent} latestEventSlug={latestEventSlug} hasRegistration={hasRegistration} hasCfp={hasCfp} />
		<slot />
		<Footer />
	</body>
</html>
